.title {
  text-align: center;
}

.example-form {
  min-width: 90px;
  max-width: 190px;
  width: 100%;
  margin-right: 10px;
}

.form {
  margin: 60px;
}

.example-form-two {
  min-width: 150px;
  max-width: 450px;
  width: 100%;
  margin-right: 10px;
}

.select {
  width: 111px;
  margin-right: 10px;
}
.example-form-three {
  min-width: 90px;
  max-width: 120px;
  width: 100%;
  margin-right: 10px;
  /* margin-left: 10px; */
}
.example-full-width {
  width: 100%;
}
.example-full-width-two {
  width: 100%;
}
.example-full-width-three {
  width: 100%;
}

.quantity-form {
  min-width: 50px;
  max-width: 65px;
  width: 100%;
}

.quantity-form-width {
  width: 100%;
}

.mat-card {
  width: 96%;
  height: 70px;
  margin: 10px;
  border: 1px solid rgb(168, 168, 168);
  /* background-color: rgb(232, 232, 232); */
}

.ingredient-card {
  height: 90%;
  width: 70%;
}

.nutrients {
  text-align: center;
}

.material-icons {
  display: inline-block;
  /* margin-left: 88%; */
}
ul#menu li {
  display: inline;
  text-align: center;
}
.example-button-row {
  text-align: center;
}
.button {
  margin: 20px;
}

.all-nutr {
  position: absolute;
  top: 28%;
  right: 1%;
  height: 4000px;
  max-width: 400px;
  margin: 20px;
  position: fixed;
}
.close-btn {
  background-color: dodgerblue;
  color: white;
}
.float {
  float: left;
}
.underline {
  text-decoration: underline;
}
