<mat-card class="mat-card">
  <mat-card-header>
    <form class="form" class="example-form">
      <mat-form-field class="example-full-width">
        <input
          type="text"
          #foodGroup
          placeholder="Food group"
          aria-label="Number"
          matInput
          [formControl]="myControl"
          [matAutocomplete]="auto"
          (change)="value = ''"
        />
        <mat-autocomplete
          #auto="matAutocomplete"
          (optionSelected)="getAllProductsByFoodGroup(foodGroup.value)"
          (optionSelected)="toggleUnchanged()"
        >
          <mat-option
            *ngFor="let option of filteredOptions | async"
            [value]="option"
          >
            {{ option }}
          </mat-option>
        </mat-autocomplete>
        <div *ngIf="foodGroup.value.length === 0 && testM()"></div>
      </mat-form-field>
    </form>

    <form *ngIf="isFoodGroupSelected" class="form" class="example-form-two">
      <mat-form-field class="example-full-width-two">
        <input
          matInput
          type="text"
          #ingredient
          placeholder="Search product by name"
          aria-label="Number"
          matInput
          [formControl]="myControl2"
          [matAutocomplete]="auto2"
          [(ngModel)]="value"
        />
        <button
          mat-button
          *ngIf="value"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="value = ''"
        >
          <mat-icon>close</mat-icon>
        </button>
        <mat-autocomplete
          #auto2="matAutocomplete"
          (optionSelected)="getIngredient(ingredient.value)"
        >
          <mat-option
            *ngFor="let option of filteredOptions2 | async"
            [value]="option"
          >
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>

    <form
      *ngIf="!isFoodGroupSelected && !productToUpdate"
      class="example-form-two"
    >
      <mat-form-field class="example-full-width">
        <input
          type="text"
          #productSearchInput
          placeholder="Search all products"
          aria-label="Number"
          matInput
          [formControl]="ProductControl"
          [matAutocomplete]="auto8"
        />
        <mat-autocomplete
          #auto8="matAutocomplete"
          (optionSelected)="getIngredient(productSearchInput.value, value1)"
        >
          <mat-option
            *ngFor="let option of apiResponse.products"
            [value]="option.description"
          >
            {{ option.description }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
    <form
      *ngIf="!isFoodGroupSelected && productToUpdate"
      class="example-form-two"
    >
      <mat-form-field class="example-full-width">
        <input
          type="text"
          #productSearchInput
          placeholder="Search all products2"
          aria-label="Number"
          matInput
          [formControl]="ProductControl"
          [matAutocomplete]="auto8"
          [(ngModel)]="selectedIngredient.description"
          (change)="toggleUnchanged()"
        />
        <mat-autocomplete
          #auto8="matAutocomplete"
          (optionSelected)="getIngredient(productSearchInput.value, value1)"
        >
          <mat-option
            *ngFor="let option of apiResponse.products"
            [value]="option.description"
          >
            {{ option.description }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
    <!-- <form
      *ngIf="!isFoodGroupSelected && apiSearch && productToUpdate"
      class="example-form-two"
    >
      <mat-form-field class="example-full-width">
        <input
          type="text"
          #productSearchInput
          placeholder="Search all products8"
          aria-label="Number"
          matInput
          [formControl]="ProductControl"
          [matAutocomplete]="auto9"
        />
        <mat-autocomplete
          #auto9="matAutocomplete"
          (optionSelected)="getIngredient(productSearchInput.value, value1)"
        >
          <mat-option
            *ngFor="let option of apiResponse.products"
            [value]="option"
          >
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form> -->

    <mat-form-field
      *ngIf="productToUpdate && productIsUntouched && !changeMeasure"
      class="select"
    >
      <mat-label>Measurment</mat-label>
      <mat-select
        #measure
        (selectionChange)="getMeasure(measure.value)"
        [(ngModel)]="selectedMeasure"
      >
        <mat-option [value]="selectedMeasure">
          {{ selectedMeasure }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="productToUpdate && changeMeasure" class="select">
      <mat-label>Measurment</mat-label>
      <mat-select
        #measure
        (selectionChange)="getMeasureUpdateProduct(measure.value)"
      >
        <mat-option
          *ngFor="let option of productToUpdate.product.measures"
          [value]="option.measure"
        >
          {{ option.measure }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field
      *ngIf="productToUpdate && !productIsUntouched"
      class="select"
    >
      <mat-label>Measurment</mat-label>
      <mat-select #measure (selectionChange)="getMeasure(measure.value)">
        <mat-option *ngFor="let option of measurements" [value]="option">
          {{ option }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="!productToUpdate" class="select">
      <mat-label>Measurment</mat-label>
      <mat-select #measure (selectionChange)="getMeasure(measure.value)">
        <mat-option *ngFor="let option of measurements" [value]="option">
          {{ option }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <form *ngIf="!productToUpdate" class="form" class="quantity-form">
      <mat-form-field class="quantity-form">
        <input
          matInput
          type="number"
          min="1"
          max="25"
          #quantity
          placeholder="Quantity"
          (change)="updateNutrients(quantity.value)"
        />
      </mat-form-field>
    </form>
    <form *ngIf="productToUpdate" class="form" class="quantity-form">
      <mat-form-field class="quantity-form">
        <input
          matInput
          type="number"
          min="1"
          max="25"
          #quantity
          placeholder="Quantity"
          (change)="updateNutrients(quantity.value)"
          value="{{ selectedAmount }}"
        />
      </mat-form-field>
    </form>
    <!-- <i
      class="material-icons"
      (click)="api()"
      (click)="log()"
      (click)="sendProduct()"
    >
      done
    </i> -->
  </mat-card-header>
  <mat-card-content>
    <ul *ngIf="showNutrients && !productToUpdate" class="nutrients" id="menu">
      <li>
        calories: {{ bCalories.value }}
        <!-- {{ detailedNutrients[3].value.toFixed(0) }} -->
      </li>
      <li>
        carbs {{ bCarbs.value }}
        <!-- {{ detailedNutrients[2].value.toFixed(0) }} -->
      </li>
      <li>
        sug {{ bSugars.value }}
        <!-- {{ detailedNutrients[4].value.toFixed(0) }} -->
      </li>
      <li (click)="log()">
        fat {{ bFats.value }}
        <!-- {{ detailedNutrients[1].value.toFixed(0) }} -->
      </li>
      <!-- <li>protein {{ detailedNutrients[0].value.toFixed(0) }}</li> -->
      <li class="underline" (click)="sendShow()" (click)="allNutrients()">
        ...more
      </li>
    </ul>
    <ul *ngIf="!showNutrients && productToUpdate" class="nutrients" id="menu">
      <li>
        calories: {{ bCalories.value.toFixed() }}
        <!-- {{ detailedNutrients[3].value.toFixed(0) }} -->
      </li>
      <li>
        carbs {{ bCarbs.value.toFixed() }}
        <!-- {{ detailedNutrients[2].value.toFixed(0) }} -->
      </li>
      <li>
        sug {{ bSugars.value.toFixed() }}
        <!-- {{ detailedNutrients[4].value.toFixed(0) }} -->
      </li>
      <li (click)="log()">
        fat {{ bFats.value.toFixed() }}
        <!-- {{ detailedNutrients[1].value.toFixed(0) }} -->
      </li>
      <!-- <li>protein {{ detailedNutrients[0].value.toFixed(0) }}</li> -->
      <li class="underline" (click)="sendShow()" (click)="allNutrients()">
        ...more
      </li>
    </ul>
    <!-- <mat-card class='all-nutr' *ngIf="showAllNutrients">
      <ul>
        <li *ngFor="let option of detailedNutrients">{{option}}</li>
      </ul>
      <mat-card-actions>
        <button class="close-btn" mat-raised-button (click)="close()">
          Close
        </button>

      </mat-card-actions>
    </mat-card> -->
  </mat-card-content>
</mat-card>
<!-- </mat-card> -->
