<mat-toolbar class='color'>
  <span>The Cookbook</span>
  <span class="icon-container">
    <i class="material-icons" class="material-icons md-36">
      restaurant_menu
    </i>
  </span>

  <span class="example-spacer"></span>

  <span class='span'>
    <button mat-button class="my-class" (click)='toggleButton()' [routerLink]="['recipes/view-all']">Recipes</button>
  </span>

  <span class='span2'>
    <button mat-button class="my-class" (click)='toggleButton()' [routerLink]="['recipes/create']">
      Create
      Recipe</button>
  </span>

  <span class="example-spacer"></span>
  <!-- <span class='span3'>
    <button mat-button class="my-class">
      <i class="material-icons" class="material-icons md-36">
        search
      </i>
    </button>
  </span> -->

  <button mat-raised-button color="primary" class="log-out-button" (click)="logout()">
    Log out
  </button>
</mat-toolbar>