.span {
  margin-left: -120px;
}
/* .span3{
  margin-left: 10%;
} */
.example-spacer {
  flex: 1 1 auto;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.my-class {
  font-size: 25px;
}
.color {
  background-color: white;
}

.log-out-button {
  background-color: dodgerblue;
}

.icon-container {
  margin-left: 5px;
}
