/* mat-grid-tile {
  background: lightblue;
} */

.recipe-card {
  /* height: 70%; */
  height: 150px;
  width: 82%;
  border: 1px solid #8a8c8d;
}

.recipe-card:hover {
  /* height: 78%; */
  height: 150px;
  width: 90%;
  cursor: pointer;
  background-color: #f5f2f2;
}
.title {
  font-size: 11px;
}
.inner {
  padding: 6px;
  margin: 4px;
  display: inline-block;
  border-radius: 2px;
  border: 1px solid #8a8c8d;
  text-align: center;
  width: 12%;
}
.inner:hover {
  padding: 6px;
  margin: 3px;
  display: inline-block;
  border-radius: 2px;
  border: 2px solid #8a8c8d;
  text-align: center;
}
.test {
  width: 95%;
}

.recipe-list-container {
  margin: auto;
}

/* * {
  margin: 0;
  padding: 0;
}
body {
  font-family: arial, sans-serif;
  font-size: 100%;
  margin: 1em;
  background: #666;
  color: #fff;
}
h2,
p {
  font-size: 100%;
  font-weight: normal;
}
ul,
li {
  list-style: none;
}
ul {
  overflow: hidden;
  padding: 3em;
}
ul li a {
  text-decoration: none;
  color: #000;
  background: #ffc;
  display: block;
  height: 14em;
  width: 14em;
  padding: 1em;
  -moz-box-shadow: 5px 5px 7px rgba(33, 33, 33, 1);
  -webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  -moz-transition: -moz-transform 0.15s linear;
  -o-transition: -o-transform 0.15s linear;
  -webkit-transition: -webkit-transform 0.15s linear;
}
ul li {
  margin: 1em;
  float: left;
}
ul li h2 {
  font-size: 140%;
  font-weight: bold;
  padding-bottom: 10px;
}
ul li p {
  font-family: 'Reenie Beanie', arial, sans-serif;
  font-size: 180%;
}
ul li a {
  -webkit-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
  -moz-transform: rotate(-6deg);
}
ul li:nth-child(even) a {
  -o-transform: rotate(4deg);
  -webkit-transform: rotate(4deg);
  -moz-transform: rotate(4deg);
  position: relative;
  top: 5px;
  background: #cfc;
}
ul li:nth-child(3n) a {
  -o-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  position: relative;
  top: -5px;
  background: #ccf;
}
ul li:nth-child(5n) a {
  -o-transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  position: relative;
  top: -10px;
}
ul li a:hover,
ul li a:focus {
  box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position: relative;
  z-index: 5;
}
ol {
  text-align: center;
}
ol li {
  display: inline;
  padding-right: 1em;
}
ol li a {
  color: #fff;
}
.inner {
  font-family: 'Reenie Beanie', arial, sans-serif;
  font-weight: bold;
  padding: 6px;
  margin: 4px;
  display: inline-block;
  border-radius: 2px;
  border: 1px solid #8a8c8d;
  text-align: center;
  width: 18%;
}
.inner:hover {
  padding: 6px;
  margin: 3px;
  display: inline-block;
  border-radius: 2px;
  border: 2px solid #8a8c8d;
  text-align: center;
} */

/* .content {
  font-family: 'Reenie Beanie', arial, sans-serif;
  width: 88%;
  position: absolute;
  bottom: 10px;
  text-align: center;
} */
