<mat-grid-list cols="4" rowHeight="230px" class="recipe-list-container">
  <mat-grid-tile *ngFor="let ingred of allRecipes; let i = index" [attr.data-index]="i">
    <app-recipe-card class="test" [recipe]="allRecipes[i]" (click)="redirectToRecipeDetails(ingred.id)">
    </app-recipe-card>
    <!-- <app-recipe-card class="test" [recipe]="allRecipes[i]" (click)="redirectToRecipeDetails(ingred.id)"> -->
  </mat-grid-tile>
</mat-grid-list>

<!-- <ul>
  <li *ngFor="
      let recipe of allRecipes | paginate: { itemsPerPage: 12, currentPage: p }
    ">
    <a (click)="redirectToRecipeDetails(recipe.id)">
      <h2>{{ recipe.title }}</h2>
      <p>{{ recipe.recipeCategory }}</p>
      <div class="line-one">
        <div class="inner">
          <span class="title">
            Fat
          </span>
          <br />
          <span class="top">
            {{ recipe.nutritionalValue[1].value.toFixed(0) }}
          </span>
        </div>
        <div class="inner">
          <span class="title">
            Carbs
          </span>
          <br />
          <span class="top">
            {{ recipe.nutritionalValue[2].value.toFixed(0) }}
          </span>
        </div>
        <div class="inner">
          <span class="title">
            Protein
          </span>
          <br />
          <span class="top">
            {{ recipe.nutritionalValue[0].value.toFixed(0) }}
          </span>
        </div>
      </div>
      <div class="inner">
        <span class="title">
          Sugars
        </span>
        <br />
        <span class="top">
          {{ recipe.nutritionalValue[4].value.toFixed(0) }}
        </span>
      </div>
      <div class="inner">
        <span class="title">
          Kcal
        </span>
        <br />
        <span class="top">
          {{ recipe.nutritionalValue[3].value.toFixed(0) }}
        </span>
      </div>
      <div class="inner">
        <span class="title">
          Fiber
        </span>
        <br />
        <span class="top">
          {{ recipe.nutritionalValue[5].value.toFixed(0) }}
        </span>
      </div>
    </a>
  </li>
</ul> -->

<!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->