.ingredient-card {
  margin-top: 20px;
  height: 90%;
  width: 70%;
  float: left;
}
.example-button-row {
  text-align: center;
}
.button {
  margin: 20px;
  background-color: rgb(232, 232, 232);
}
.test {
  display: inline;
}

.a {
  float: left;
}
.btn {
  background-color: dodgerblue;
  color: white;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  display: inline-block;
  text-align: center;
  width: 60%;
}
