<div class="test">
  <mat-card class="ingredient-card">
    <div class="example-button-row">
      <mat-form-field class="example-full-width" hintLabel="Max 60 characters">
        <input matInput #input placeholder="Name for the recipe" maxlength="60" [formControl]="recipeNameControl"
          value="{{ title }}" />
        <mat-hint align="end">{{ input.value?.length || 0 }}/60</mat-hint>
        <mat-error *ngIf="recipeNameControl.hasError('required')">
          Name of recipe is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="example-button-row">
      <button class="button" mat-raised-button (click)="test()">
        Add Ingredient
      </button>
      <button class="button" mat-raised-button (click)="test2()">
        Add recipe
      </button>
    </div>
    <app-add-product
      *ngFor="let ingred of productsToUpdate; let i = index"
      (productEvent)="receiveProduct($event, i)"
      (allNutrs)="receiveNutrients($event, i)"
      (showDetailed)="receiveShow($event)"
      [productToUpdate]="productsToUpdate[i]"
      [attr.data-index]="i"
    >
    </app-add-product>
    <app-add-recipe *ngFor="let ingred of newRecipe; let i = index"></app-add-recipe>
    <mat-card-actions class="example-button-row">
      <button class="btn" mat-raised-button (click)="updateRecipe()">
        Update recipe
      </button>
      <button class="btn cancel-button" mat-raised-button (click)="returnToSingleRecipeView()">
        Cancel
      </button>
    </mat-card-actions>
  </mat-card>
  <app-recipe-nutrients class="a" [allNutrients]="wholeRecipeNutrients">
  </app-recipe-nutrients>
  <app-detailed-nutrients *ngIf="show" (toggleEvent)="receiveToggle($event)" [nutrients]="nutrients">
  </app-detailed-nutrients>
</div>