<div class="test">
  <mat-card class="ingredient-card">
    <div class="example-button-row">
      <mat-form-field class="example-full-width" hintLabel="Max 60 characters">
        <input
          matInput
          #title
          placeholder="Name for the recipe"
          maxlength="60"
          [formControl]="recipeNameControl"
          (change)="setTitle(title.value)"
        />
        <mat-hint align="end">{{ title.value?.length || 0 }}/60</mat-hint>
        <mat-error *ngIf="recipeNameControl.hasError('required')">
          Name of recipe is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="example-button-row">
      <button class="button" mat-raised-button (click)="test()">
        Add Ingredient
      </button>
      <button class="button" mat-raised-button (click)="test2()">
        Add recipe
      </button>
    </div>
    <app-add-product
      *ngFor="let ingred of newIngredient; let i = index"
      (calories)="receiveCalories($event, i)"
      (productEvent)="receiveProduct($event, i)"
      (fat)="receiveFats($event, i)"
      (carb)="receiveCarbs($event, i)"
      (sugar)="receiveSugars($event, i)"
      (allNutrs)="receiveNutrients($event, i)"
      (showDetailed)="receiveShow($event)"
      [attr.data-index]="i"
    >
    </app-add-product>
    <app-add-recipe
      *ngFor="let ingred of newRecipe; let i = index"
      (allNutrsFromRecipe)="receiveNutrientsFromrecipe($event, i)"
      (showDetailed)="receiveShow($event)"
      (recipe)="receiveRecipe($event)"
      (calories)="receiveCaloriesFromRecipe($event)"
    ></app-add-recipe>
    <div class="example-button-row">
      <mat-form-field class="category" hintLabel="Max 20 characters">
        <input
          matInput
          #category
          placeholder="Category of the recipe"
          maxlength="20"
          [formControl]="CategoryNameControl"
          (change)="setCategory(category.value)"
        />
        <mat-hint align="end">{{ category.value?.length || 0 }}/20</mat-hint>
      </mat-form-field>
    </div>

    <mat-card-actions class="example-button-row">
      <button
        class="btn"
        [disabled]="title.value.length < 3 || category.value < 3"
        mat-raised-button
        (click)="createRecipe()"
      >
        Create recipe
      </button>
    </mat-card-actions>
  </mat-card>
  <app-recipe-nutrients
    class="a"
    [kcal]="kcalParent"
    [fats]="fatParent"
    [sugars]="sugarParent"
    [carbs]="carbParent"
    [allNutrients]="wholeRecipeNutrients"
  >
  </app-recipe-nutrients>
  <app-detailed-nutrients
    *ngIf="show"
    (toggleEvent)="receiveToggle($event)"
    [nutrients]="nutrients"
  >
  </app-detailed-nutrients>
</div>
