<mat-card class="nutrients-card">
  <mat-card-title>
    <h5 (click)="showDetailed()">current nutritions</h5>
  </mat-card-title>

  <mat-card-content>
    <ul *ngIf="!detailed && kcal" id="menu">
      <li>
        <strong>Calories</strong>
        <u class="number">
          <!-- {{ kcal.toFixed() }}  -->
          {{ allNutrients[3].value.toFixed() }}
        </u>
      </li>
      <li>
        <strong> Carbohydrate </strong>
        <u class="number">
          <!-- {{ carbs.toFixed() }}  -->
          {{ allNutrients[2].value.toFixed() }}
        </u>
      </li>
      <li>
        <strong> Sugars </strong>
        <u class="number">
          <!-- {{ sugars.toFixed() }}  -->
          {{ allNutrients[4].value.toFixed() }}
        </u>
      </li>
      <li>
        <strong> Fats </strong>
        <u class="number">
          <!-- {{ fats.toFixed() }}  -->
          {{ allNutrients[1].value.toFixed() }}
        </u>
      </li>
      <li>
        <button mat-button (click)="showDetailed()">
          <i class="material-icons">
            expand_more
          </i>
        </button>
      </li>
    </ul>

    <ul *ngIf="detailed" class="detailed">
      <li>
        <button mat-button (click)="showDetailed()">
          <i class="material-icons">
            expand_less
          </i>
        </button>
      </li>
      <!-- <li *ngFor="let option of allNutrients">
        <strong>{{ option.description }}</strong> {{ option.value.toFixed(2) }}
        {{ option.unit }}
      </li> -->
      <table class="table">
        <tr>
          <td>
            <strong>Protein</strong>
          </td>
          <td>
            {{ allNutrients[0].value.toFixed() }} {{ allNutrients[0].unit }}
          </td>
        </tr>
        <tr>
          <td>
            <strong>Fat</strong>
          </td>
          <td>
            {{ allNutrients[1].value.toFixed() }} {{ allNutrients[1].unit }}
          </td>
        </tr>
        <tr>
          <td>
            <strong>Carbohydrate</strong>
          </td>
          <td>
            {{ allNutrients[2].value.toFixed() }} {{ allNutrients[2].unit }}
          </td>
        </tr>
        <tr>
          <td>
            <strong>Energy</strong>
          </td>
          <td>
            {{ allNutrients[3].value.toFixed() }} {{ allNutrients[3].unit }}
          </td>
        </tr>
        <tr>
          <td>
            <strong>Sugars</strong>
          </td>
          <td>
            {{ allNutrients[4].value.toFixed() }} {{ allNutrients[4].unit }}
          </td>
        </tr>
        <tr>
          <td>
            <strong>Fiber</strong>
          </td>
          <td>
            {{ allNutrients[5].value.toFixed() }} {{ allNutrients[5].unit }}
          </td>
        </tr>
        <tr>
          <td>
            <strong>Calcium, Ca</strong>
          </td>
          <td>
            {{ allNutrients[6].value.toFixed() }} {{ allNutrients[6].unit }}
          </td>
        </tr>
        <tr>
          <td>
            <strong>Iron, Fe</strong>
          </td>
          <td>
            {{ allNutrients[7].value.toFixed() }} {{ allNutrients[7].unit }}
          </td>
        </tr>
        <tr>
          <td>
            <strong>Sodium, Na</strong>
          </td>
          <td>
            {{ allNutrients[11].value.toFixed() }} {{ allNutrients[11].unit }}
          </td>
        </tr>
        <tr>
          <td>
            <strong>Vitamin A, IU</strong>
          </td>
          <td>
            {{ allNutrients[12].value.toFixed() }} {{ allNutrients[12].unit }}
          </td>
        </tr>
        <tr>
          <td>
            <strong>Vitamin D</strong>
          </td>
          <td>
            {{ allNutrients[14].value.toFixed() }} {{ allNutrients[14].unit }}
          </td>
        </tr>
        <tr>
          <td>
            <strong>Cholesterol</strong>
          </td>
          <td>
            {{ allNutrients[17].value.toFixed() }} {{ allNutrients[17].unit }}
          </td>
        </tr>
        <tr>
          <td>
            <strong>Fatty acids, trans</strong>
          </td>
          <td>
            {{ allNutrients[18].value.toFixed() }} {{ allNutrients[18].unit }}
          </td>
        </tr>
        <tr>
          <td>
            <strong>Fatty acids, saturated</strong>
          </td>
          <td>
            {{ allNutrients[19].value.toFixed() }} {{ allNutrients[19].unit }}
          </td>
        </tr>
      </table>
    </ul>
  </mat-card-content>
</mat-card>
