.nutrients-card {
  max-width: 220px;
  margin-top: 20px;
  width: 80%;
  /* margin-left: 25px; */
  position: fixed;
  right: 20px;
}
ul {
  list-style: none;
}
.detailed {
  padding-inline-start: 0;
}
.number {
  position: fixed;
  right: 65px;
  text-decoration: none;
}
.text {
  margin-left: 10%;
  text-decoration: none;
}
