.container {
  /* margin-top: 30px; */
}

mat-card {
  background-color: rgba(255, 255, 255, 0.7);
}

.recipe-title-container {
  margin-top: 8px;
}

.recipe-title {
  text-align: center;
}

.nutrient-container {
  text-align: center;
  width: 69%;
}

.ingredients-title {
  text-align: center;
}

.ingredient-nutrients-list {
  list-style-type: none;
  vertical-align: text-top;
}

.ingredient-row {
  margin-top: 0px;
  margin-bottom: 0px;
}

table {
  width: 100%;
}

td {
  width: 50%;
}

.table-container {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.buttons-container {
  text-align: center;
}

.delete-button {
  margin-left: 70px;
}

.recipe-button {
  width: 78.72px;
  background-color: dodgerblue;
}
