<div class="container recipe-title-container">
  <mat-card>
    <h1 class="recipe-title">{{this.individualRecipe.title}}</h1>
  </mat-card>
</div>

<div class="container">
  <mat-card>
    <mat-grid-list cols="8" rowHeight="80px">
      <mat-grid-tile>
        <mat-card class='nutrient-container'>
          <mat-card-subtitle>Calories</mat-card-subtitle>
          <mat-card-subtitle>{{this.energy.value | number:'.1-1'}} {{this.energy.unit}}</mat-card-subtitle>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card class='nutrient-container'>
          <mat-card-subtitle>Total Fat</mat-card-subtitle>
          <mat-card-subtitle>{{this.fat.value | number:'.1-1'}} {{this.fat.unit}}</mat-card-subtitle>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card class='nutrient-container'>
          <mat-card-subtitle>Sat Fat</mat-card-subtitle>
          <mat-card-subtitle>{{this.satFat.value | number:'.1-1'}} {{this.satFat.unit}}</mat-card-subtitle>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card class='nutrient-container'>
          <mat-card-subtitle>Carbohydrates</mat-card-subtitle>
          <mat-card-subtitle>{{this.carbs.value | number:'.1-1'}} {{this.carbs.unit}}</mat-card-subtitle>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card class='nutrient-container'>
          <mat-card-subtitle>Sugars</mat-card-subtitle>
          <mat-card-subtitle>{{this.sugar.value | number:'.1-1'}} {{this.sugar.unit}}</mat-card-subtitle>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card class='nutrient-container'>
          <mat-card-subtitle>Dietary Fiber</mat-card-subtitle>
          <mat-card-subtitle>{{this.fiber.value | number:'.1-1'}} {{this.fiber.unit}}</mat-card-subtitle>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card class='nutrient-container'>
          <mat-card-subtitle>Protein</mat-card-subtitle>
          <mat-card-subtitle>{{this.protein.value | number:'.1-1'}} {{this.protein.unit}}</mat-card-subtitle>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card class='nutrient-container'>
          <mat-card-subtitle>Sodium</mat-card-subtitle>
          <mat-card-subtitle>{{this.sodium.value | number:'.1-1'}} {{this.sodium.unit}}</mat-card-subtitle>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card>
</div>

<div class="container">
  <mat-card>
    <h3 class="ingredients-title">Ingredients</h3>

    <!-- <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile>
        <ul>
          <li *ngFor="let product of products">{{product.product.description}}</li>
        </ul>
      </mat-grid-tile>
      <mat-grid-tile>
        <ul class="ingredient-nutrients-list">
          <li *ngFor="let product of products">{{product.product.description}}</li>
        </ul>
      </mat-grid-tile>
    </mat-grid-list> -->
    <mat-card class="table-container">
      <table>
        <tr *ngFor="let product of products">
          <td>
            <ul class="ingredient-row">
              <li>{{product.amount}} {{product.measurment}} - {{product.product.description}}</li>
            </ul>
          </td>
          <td>
            <ul class="ingredient-nutrients-list ingredient-row">
              <li>
                Calories:&nbsp;{{product.product.nutrition.ENERC_KCAL.value * product.nutritionMultiplier  | number:'.1-1'}}&nbsp;{{product.product.nutrition.ENERC_KCAL.unit}}&nbsp;|
                Fat:&nbsp;{{product.product.nutrition.FAT.value * product.nutritionMultiplier  | number:'.1-1'}}&nbsp;{{product.product.nutrition.FAT.unit}}&nbsp;|
                Carbs:&nbsp;{{product.product.nutrition.CHOCDF.value * product.nutritionMultiplier  | number:'.1-1'}}&nbsp;{{product.product.nutrition.CHOCDF.unit}}
                |
                Protein:&nbsp;{{product.product.nutrition.PROCNT.value * product.nutritionMultiplier  | number:'.1-1'}}&nbsp;{{product.product.nutrition.PROCNT.unit}}&nbsp;
              </li>
            </ul>
          </td>
        </tr>
        <tr *ngFor="let childRecipe of this.individualRecipe.childRecipes">
          <td>
            <ul class="ingredient-row">
              <li>{{childRecipe.title}}</li>
            </ul>
          </td>
          <td>
            <ul class="ingredient-nutrients-list ingredient-row">
              <li>Calories:
                {{childRecipe.nutritionalValue[3].value | number:'.1-1'}} {{childRecipe.nutritionalValue[3].unit}} |
                Fat:
                {{childRecipe.nutritionalValue[1].value | number:'.1-1'}} {{childRecipe.nutritionalValue[1].unit}} |
                Carbs:
                {{childRecipe.nutritionalValue[2].value | number:'.1-1'}} {{childRecipe.nutritionalValue[2].unit}} |
                Protein:
                {{childRecipe.nutritionalValue[0].value | number:'.1-1'}} {{childRecipe.nutritionalValue[0].unit}}
              </li>
            </ul>
          </td>
        </tr>
      </table>
    </mat-card>
  </mat-card>
</div>

<div class="container">
  <mat-card class="buttons-container">
    <button mat-raised-button color="primary" class="edit-button recipe-button" (click)="editRecipe()">Edit</button>
    <button mat-raised-button color="primary" class="delete-button recipe-button"
      (click)="deleteRecipe()">Delete</button>
  </mat-card>
</div>