.login-form {
  min-width: 150px;
  max-width: 250px;
  width: 100%;
  margin: 120px auto;
  background-color: #ffffff;
  padding: 40px;
  border: 2px solid darkgrey;
  border-radius: 5px;
}

.login-full-width {
  width: 100%;
  padding: 0;
}

.login-button {
  width: 100%;
  background-color: #00b0db;
  color: #ffffff;
}

.login-title {
  display: flex;
  justify-content: center;
  color: grey;
}

.empty-field {
  color: red;
  font-size: 12px;
}

.field-wrapper {
  /* height: 83.5px; */
  height: 90px;
}
