<form class="login-form" [formGroup]="loginForm">
  <div class="form-group">
    <h1 class="login-title">Sign In</h1>

    <div class="field-wrapper">
      <mat-form-field class="login-full-width">
        <input
          #usernameInput
          matInput
          placeholder="Username"
          class="form-control"
          formControlName="username"
        />
      </mat-form-field>
      <span class="empty-field">
        <span
          *ngIf="
            (loginForm.controls.username.dirty &&
              loginForm.controls.username.invalid) ||
            (loginForm.controls.username.touched &&
              loginForm.controls.username.invalid)
          "
        >
          Username cannot be empty.
        </span>
      </span>
    </div>

    <div class="field-wrapper">
      <mat-form-field class="login-full-width">
        <input
          #passwordInput
          matInput
          placeholder="Password"
          class="form-control"
          formControlName="password"
          type="password"
        />
      </mat-form-field>
      <span class="empty-field">
        <span
          *ngIf="
            (loginForm.controls.password.dirty &&
              loginForm.controls.password.invalid) ||
            (loginForm.controls.password.touched &&
              loginForm.controls.password.invalid)
          "
        >
          Password cannot be empty.
        </span>
      </span>
    </div>

    <button
      mat-flat-button
      class="login-button"
      [disabled]="this.loginForm.invalid"
      (click)="this.login(usernameInput.value, passwordInput.value)"
    >
      Log in
    </button>
  </div>
</form>
