<mat-card class="all-nutr">
  <!-- <ul>
    <li *ngFor="let option of nutrients">
      <strong> {{ option.description }}: </strong>
      <u class="unit"> {{ option.value }} {{ option.unit }} </u>
    </li>
  </ul> -->
  <table class="table">
    <tr *ngFor="let option of nutrients">
      <td>
        <strong>{{ option.description }}</strong>
      </td>
      <td>{{ option.value }} {{ option.unit }}</td>
    </tr>
  </table>

  <mat-card-actions>
    <button class="close-btn" mat-raised-button (click)="sendToggle()">
      Close
    </button>
  </mat-card-actions>
</mat-card>
