.all-nutr {
  position: absolute;
  top: 18%;
  right: 1%;
  height: 455px;
  max-width: 400px;
  margin: 20px;
  position: fixed;
}
.close-btn {
  background-color: dodgerblue;
  color: white;
}
.unit {
  text-decoration: none;
}
.table {
  font-size: 12.9px;
}
