/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
/* html {
  background-color: #f2f2f2;
} */
html {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('./assets//login-screen-background.jpg');
  background-size: cover;
}
/* html {
  background-color: #fbf9fa;
} */
