.recipe-card {
  /* margin: auto;
  height: 90%;
  width: 82%; */
  height: 180px;
  cursor: pointer;
  border: 1px solid #8a8c8d;
  font-family: 'Comic Sans MS';
  max-width: 350px;
}
.recipe-card:hover {
  cursor: pointer;
  background-color: #f5f2f2;
}
.title {
  font-size: 11px;
}
.inner {
  padding: 6px;
  margin: 4px;
  display: inline-block;
  border-radius: 2px;
  border: 1px solid #8a8c8d;
  text-align: center;
  width: 18%;
}
.inner:hover {
  padding: 6px;
  margin: 3px;
  display: inline-block;
  border-radius: 2px;
  border: 2px solid #8a8c8d;
  text-align: center;
}
.content {
  width: 88%;
  position: absolute;
  bottom: 10px;
  text-align: center;
}

.recipe-title-icon {
  float: right;
  font-size: 40px;
}

mat-card {
  background-color: rgba(255, 255, 255, 0.8);
}
