<mat-card class="recipe-card">
  <i class="material-icons recipe-title-icon">restaurant</i>

  <mat-card-title class="recipe-title">
    {{ recipe.title }}
  </mat-card-title>

  <mat-card-subtitle class="recipe-category">{{ recipe.recipeCategory }}</mat-card-subtitle>

  <mat-card-content class="content">
    <div class="line-one">
      <div class="inner">
        <span class="title">
          Fat
        </span>
        <br />
        <span class="top">
          {{ recipe.nutritionalValue[1].value.toFixed(0) }}
        </span>
      </div>
      <div class="inner">
        <span class="title">
          Carbs
        </span>
        <br />
        <span class="top">
          {{ recipe.nutritionalValue[2].value.toFixed(0) }}
        </span>
      </div>
      <div class="inner">
        <span class="title">
          Protein
        </span>
        <br />
        <span class="top">
          {{ recipe.nutritionalValue[0].value.toFixed(0) }}
        </span>
      </div>
    </div>
    <div class="inner">
      <span class="title">
        Sugars
      </span>
      <br />
      <span class="top">
        {{ recipe.nutritionalValue[4].value.toFixed(0) }}
      </span>
    </div>
    <div class="inner">
      <span class="title">
        Kcal
      </span>
      <br />
      <span class="top">
        {{ recipe.nutritionalValue[3].value.toFixed(0) }}
      </span>
    </div>
    <div class="inner">
      <span class="title">
        Fiber
      </span>
      <br />
      <span class="top">
        {{ recipe.nutritionalValue[5].value.toFixed(0) }}
      </span>
    </div>
  </mat-card-content>
</mat-card>