.example-form {
  min-width: 90px;
  max-width: 190px;
  width: 100%;
  margin-right: 10px;
}

.form {
  margin: 60px;
}

.example-form-two {
  min-width: 150px;
  max-width: 250px;
  width: 100%;
  margin-right: 10px;
}

.example-full-width {
  width: 100%;
}
.example-full-width-two {
  width: 100%;
}
.mat-card {
  width: 96%;
  height: 70px;
  margin: 10px;
  border: 1px solid rgb(168, 168, 168);
  /* background-color: rgb(232, 232, 232); */
}
.nutrients {
  text-align: center;
  font-size: 14px;
}

ul#menu li {
  display: inline;
  text-align: center;
}
