<mat-card class="mat-card">
  <mat-card-header>
    <form class="example-form-two">
      <mat-form-field class="example-full-width">
        <input
          type="text"
          #recipeSearchInput
          placeholder="Search all recipes"
          aria-label="Number"
          matInput
          [formControl]="recipeControl"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete
          #auto="matAutocomplete"
          (optionSelected)="getRecipe(recipeSearchInput.value)"
          (optionSelected)="sendNutrients()"
          (optionSelected)="sendRecipe()"
        >
          <mat-option *ngFor="let option of apiResponse" [value]="option.title">
            {{ option.title }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
    <ul *ngIf="selectedRecipe" class="nutrients" id="menu">
      <li>calories: {{ detailedNutrients[3].value.toFixed() }}</li>
      <li>  carbs: {{ detailedNutrients[2].value.toFixed() }}</li>
      <li>  sugars: {{ detailedNutrients[4].value.toFixed() }}</li>
      <li>  fats: {{ detailedNutrients[1].value.toFixed() }}</li>
    </ul>
    <!-- <i class="material-icons" (click)="sendNutrients()">
      done
    </i> -->
  </mat-card-header>
  <!-- <mat-card-content>
    <ul *ngIf="selectedRecipe" class="nutrients" id="menu">
      <li>calories: {{ bCalories.value }}</li>
      <li>carbs {{ bCarbs.value }}</li>
      <li (click)="allNutrients()">sug {{ bSugars.value }}</li>
      <li (click)="log()">fat {{ bFats.value }}</li>
    </ul>
  </mat-card-content> -->
</mat-card>
